    /* This is the navigation bar that appears at the top of the page */

body{
    text-align: center;
}

.icon {
    margin-left: 10px;
}
    .navigation {
        /* position: fixed; */
        top: 0;
        left: 0;
        border-radius: 25%;
        background-color: rgb(21, 83, 14);
        color: rgb(245, 239, 206);
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    /* This is the navigation bar's ul */
    .navigation ul {
        display: flex;
        color: rgb(144, 0, 255);
        justify-content: flex-start; /* Ändert von "space-between" zu "flex-start" */
        align-items: center; /* Hinzugefügt, um die vertikale Ausrichtung zu zentrieren */
        width: 100%;
        margin: 5px;
        padding: 5px;
        list-style: none;
    }
    /* This is the navigation bar's li */
    .navigation ul li {
        position: relative;            /* Sets the position of the li to relative */
        z-index: 1;
        justify-content: space-between;
        /* Sets the z-index of the li to 1 */
    }

    /* This is the navigation bar's li's a */
    .navigation ul li a {
        align-items: center;          /* Sets the align-items of the a to center */
        color: #555;                  /* Sets the color of the a to #555 */
        display: flex;                /* Sets the display of the a to flex */
        flex-direction: column;       /* Sets the flex-direction of the a to column */
        font-weight: 500;             /* Sets the font-weight of the a to 500 */
        position: relative;            /* Sets the position of the a to relative */
        text-align: center;           /* Sets the text-align of the a to center */
        text-decoration: none;        /* Sets the text-decoration of the a to none */
        transition: color 0.2s ease-in-out; /* Sets the transition of the a to color 0.2s ease-in-out */
        width: 100%;                  /* Sets the width of the a to 100% */
        height: 100%;                 /* Sets the height of the a to 100% */
        justify-content: space-between;

    }

    image{
        width: 2000px;
        height: auto;
    }

    /* This is the navigation bar's li's a:hover */
    .navigation ul li a:hover {
        color: #000;                  /* Sets the color of the a to #000 */
    }

    /* This is the navigation bar's li's a's .icon */
    .navigation ul li a .icon {
        color: #555;                  /* Sets the color of the .icon to #555 */
        display: block;                /* Sets the display of the .icon to block */
        font-size: 1.5em;              /* Sets the font-size of the .icon to 1.5em */
        line-height: 1;               /* Sets the line-height of the .icon to 1 */
        margin-bottom: 5px;           /* Sets the margin-bottom of the .icon to 5px */
        position: relative;            /* Sets the position of the .icon to relative */
        text-align: center;           /* Sets the text-align of the .icon to center */
        transition: color 0.2s ease-in-out; /* Sets the transition of the .icon to color 0.2s ease-in-out */
    }

    /* This is the navigation bar's li's a:hover .icon */
    .navigation ul li a:hover .icon {
        color: #000;                  /* Sets the color of the .icon to #000 */
    }
    .footer{
        bottom:0;
        left: 0;
        padding: 15px;
        border-radius: 25%;
        background-color: rgb(21, 83, 14);
        color: rgb(245, 239, 206);
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 20px;

    }